<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title> Makersbnb </title>
    <meta charset="utf-8">
  </head>

<body class="request">

      <div id="content">
      <p>
        <a href="/">
          <img border="0" src="../makersbnb.png"" width="50" height="60">
        </a>
      </p>
    </div>

<div id="nav_links_5">
      <a href="/">Home</a>
      |
      <a href="/spaces">Browse spaces</a>
      |
      <% if @email == nil %>
        <a href="/log_in">Log in</a>
      <% else %>
        |
        <form action="/requests_page" method="post" class="inline">
          <button type="submit" class="link-button">My requests</button>
        </form>
        
      |
        <form action="/log_out" method="post" class="inline">
          <button type="submit" class="link-button">Log out</button>
        </form>
      <% end %>
    </div>


    <div class= "dates_box">
<p2>Choose a date</p2>
<br>
<br>

<% if @email == nil %>
  Date:<input type="date" name="chosen_date" placeholder="YYYY-MM-DD" min="<%=@space.date_from%>" max="<%=@space.date_to%>" />
  <form action="/log_in">
    <button type="submit" id="seemore" >Log in to book</button>
  </form>
  <% else %>
    <form action="/request" method="POST" >
      Date:<input type="date" name="chosen_date" placeholder="YYYY-MM-DD" min="<%=@space.date_from%>" max="<%=@space.date_to%>" />
      <input type="hidden" name="space_id" value=<%= @space.id %> />
      <input type="submit" value="Request"/>
      <input type="hidden" name="id" value="<%= @space.id%>">
    </form>
 <% end %>


</div>
</body>
