<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title> Makersbnb </title>
    <meta charset="utf-8">
  </head>

<body class="request">


<% if @email == nil %>
  <form action="/log_in">
    <button type="submit">Log in</button>
  </form>
<% end %>

    <div class= "dates_box">
Choose a date
<br>
<br>
<form action="/request" method="POST" >
  Date:<input type="date" name="chosen_date" placeholder="YYYY-MM-DD" min="<%=@space.date_from%>" max="<%=@space.date_to%>" />
  <input type="hidden" name="space_id" value=<%= @space.id %> />
  <input type="submit" value="Request"/>
  <input type="hidden" name="id" value="<%= @space.id%>">
</form>


<form action="/spaces">
  <button type="submit">Go back to browse spaces</button>
</form>
<h2><%= flash[:notice] %></h2>
</div>
</body>
