<h3> Requests made: </h3>

<div>
  <% @requests_made.each do |booking| %>
  <br>
  Your booking for <%= booking.date %>:<br>
  <%= booking.title %><br>
  <%= booking.description %><br>
  £<%= booking.price_per_night%> per night<br>
<% end %>
<br>
<br>
</div>

<h3> Requests received: </h3>

<div>
  <% @requests_received.each do |booking| %>
  <br>
  Your booking for <%= booking.date %>:<br>
  <%= booking.title %><br>
  <%= booking.description %><br>
  £<%= booking.price_per_night%> per night<br>
<% end %>
<br>
<br>
</div>

<form action="/log_out" method="post" class="inline">
  <button type="submit" class="link-button">Log out</button>
</form>
