<% if @email != nil %>
  <h1>Welcome <%= @user.fullname %> </h1>
    <form action="/spaces/new">
      <button type="submit">List a Space</button>
    </form>
    <form action="/log_out" method="post">
      <button type="submit">Log out</button>
    </form>
<% end %>

<% if @email == nil %>
    <form action="/log_in" method="post">
      <button type="submit">Log in</button>
    </form>
<% end %>

Book a Space
<br>
<br>
<% @all_spaces.each do |space| %>
<%= space.title %>
<br>
<%= space.description %>
<br>
£<%= space.price_per_night %>per night
<form action="/spaces/<%= space.id %>">
  <button type="submit">See more</button>
</form>
<br>
<br>
<% end %>
<br>
