<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title> Makersbnb </title>
    <meta charset="utf-8">
  </head>

  <body class="spaces">

    <div id="content">
      <p>
        <a href="/">
          <img border="0" src="makersbnb.png"" width="50" height="60">
        </a>
      </p>
    </div>


    <div id="nav_links_4">
      <a href="/">Home</a>
      |
      <% if @email == nil %>
        <a href="/log_in">Log in</a>
      <% else %>
        <form action="/requests_page" method="post" class="inline">
          <button type="submit" class="link-button">My requests</button>
        </form>
      |
        <form action="/log_out" method="post" class="inline">
          <button type="submit" class="link-button">Log out</button>
        </form>
      <% end %>
    </div>

    <div class="spaces_box">
      <% if @email != nil %>
        <p1>Welcome <%= @user.fullname %> </p1>
        <form action="/spaces/new">
          <button type="submit" id="list" >List your own space</button>
        </form>
      <% end %>
      <p2>Book a Space</p2>
      <br>
      <p2><%= flash[:notice] %></p2>
      <br>
      <br>
      <% @all_spaces.each do |space| %>
      <%= space.title %>
      <br>
      <%= space.description %>
      <br>
      £<%= space.price_per_night %>per night <br><br>
      <form action="/spaces/<%= space.id %>">
        <button type="submit" id="seemore">See more</button>
      </form>
      ----
      <br>
      <br>
      <% end %>
      <br>

    </div>
  </body>
</html>
